/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running jobs with input & output data from & to RPDC QA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run main.nf -profile debug_qa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Debug QA profile'
    config_profile_description = 'Set debug_qa profile to check pipeline functions upon data in QA'

    // data staging params
    song_url                   = "https://song.rdpc-qa.cancercollaboratory.org"
    score_url                  = "https://score.rdpc-qa.cancercollaboratory.org"
    song_url_download          = null
    score_url_download         = null
    song_url_upload            = null
    score_url_upload           = null
}
