/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running jobs with input & output data from & to RPDC Dev
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run main.nf -profile debug_dev,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Debug Dev profile'
    config_profile_description = 'Set debug_dev profile to check pipeline functions upon data in DEV'

    // data staging params
    song_url                   = "https://song.rdpc-dev.cancercollaboratory.org"
    score_url                  = "https://score.rdpc-dev.cancercollaboratory.org"
    song_url_download          = "https://submission-song.rdpc-dev.cancercollaboratory.org"
    score_url_download         = "https://submission-score.rdpc-dev.cancercollaboratory.org"
    song_url_upload            = null
    score_url_upload           = null
}
