/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with input & output data from & to RPDC Prod
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run icgc-argo-workflows/prealignmentqc -profile rdpc,<docker/singularity>  --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'RDPC profile'
    config_profile_description = 'Set RDPC profile to check pipeline functions upon data in Prod'

    // song/score params for data staging
    song_url                   = "https://song.rdpc.cancercollaboratory.org"
    score_url                  = "https://score.rdpc.cancercollaboratory.org"
    song_url_download          = "https://submission-song.rdpc.cancercollaboratory.org"
    score_url_download         = "https://submission-score.rdpc.cancercollaboratory.org"
    song_url_upload            = null
    score_url_upload           = null
}
