/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running jobs with input & output data from & to RPDC Dev
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Use as follows:
        nextflow run main.nf -profile rdpc_dev,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'RDPC Dev profile'
    config_profile_description = 'Set rdpc_dev profile to check pipeline functions upon data in DEV'

    local_mode                 = false

    fasta                      = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa"
    fasta_fai                  = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa.fai"
    fasta_dict                 = "${params.reference_base}/GRCh38_hla_decoy_ebv.dict"
    germline_resource          = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz"
    germline_resource_tbi      = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz.tbi"


    // data staging params
    song_url                   = "https://song.rdpc-dev.cumulus.genomeinformatics.org"
    score_url                  = "https://score.rdpc-dev.cumulus.genomeinformatics.org"
    song_url_download          = null
    score_url_download         = null
    song_url_upload            = null
    score_url_upload           = null
}
