/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run icgc-argo-workflows/dnaalnqc -profile test_rdpc_qa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Resource profile'
    config_profile_description = 'Provide the reference path'

    // Input data
    fasta                      = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa"
    fasta_fai                  = "${params.reference_base}/GRCh38_hla_decoy_ebv.fa.fai"
    fasta_dict                 = "${params.reference_base}/GRCh38_hla_decoy_ebv.dict"
    germline_resource          = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz"
    germline_resource_tbi      = "${params.reference_base}/gatk_resource/af-only-gnomad.pass-only.biallelic.snp.hg38.vcf.gz.tbi"

}
