/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run icgc-argo-workflows/dnaaln -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    study_id                   = "TEST-QA"
    analysis_id_normal         = "0187b82f-1693-470a-87b8-2f1693f70ac9"
    analysis_id_tumour         = "4f6d6ddf-3759-4a30-ad6d-df37591a3033"
}

process {
    // process labels
    withLabel:process_single {
        cpus   = 1 
        memory = 3.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   = 2
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 3
        memory = 12.GB
        time   = 8.h
    }
}
